<nav class="navbar navbar-dark bg-menu-5s justify-content-center">

  <!--a class="navbar-brand" href="{{ site.baseurl }}/"><img class="img-fluid" src="{{site.baseurl}}/assets/images/logo_small.png"></a-->
  <a class="navbar-brand" href="{{ site.baseurl }}/"><img class="img-fluid" src="{{site.baseurl}}/assets/images/head_1920x230_perc20.png"></a>
  
  <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-right" id="navbarToggler">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div-->
</nav>

<hr>